# Virtual env
.venv/

# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Model files
pretrained/
*.pth

# Cache
.cache/

# Build directories
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userprefs
*.binlog
project.assets.json

# Test and Publish
TestResults/
publish/
app.publish/

# OS files
.DS_Store
Thumbs.db